.users {
    margin: 2em 4em;
    color: hsl(200, 100%, 45%);
    font-size: 0.9rem;        
}

.user {
    border-top: 2px solid hsla(200, 100%, 45%, 0.2);
    border-left: 2px solid hsla(200, 100%, 45%, 0.2);
    border-right: 3px solid hsla(200, 100%, 45%, 0.3);
    border-bottom: 3px solid hsla(200, 100%, 45%, 0.3);
    padding: 5px 10px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 35px;
    color: hsl(205, 70%, 50%); 
    text-align: center;
}

.name {
    font-weight: bold;
    color: hsl(200, 100%, 70%);
    font-size: 1rem; 
}

.name:hover {
    cursor: pointer;
    color: hsl(200, 100%, 60%);
}

.info {
    margin-top: 20px;
    margin-left: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
}

.add-div {
    display: flex;
    justify-content: center;
}

button {
    background-color: hsl(200, 100%, 60%);
    border-radius: 0.5rem;
    border: none;
    text-align: center;
    color: white;    
}

button:hover{
    cursor: pointer;
    background-color: hsl(200, 100%, 50%);
}

.add-btn {
    padding: 1em 3em;
    margin-top: 2em;
}

.change-btn {
    padding: 0.5em 1em;
    margin: 10px 0 10px 5px;
    font-size: 12px;
}

.delete-btn {
    background-color: hsl(348, 75%, 60%);
    padding: 0.5em 1em;
    margin: 10px 5px;
    font-size: 12px;
}

.delete-btn:hover {
    background-color: hsl(348, 75%, 50%);
}
